REPO_ROOT=/srv/tardis-gsoc-prototype-approach-4
CONDA_BIN=/home/azureuser/miniconda3/bin/conda
CONTROL_ENV_NAME=a4-control
QUEUE_PATH=/srv/tardis-gsoc-prototype-approach-4/generated/server-queue.json
OUT_ROOT=/srv/tardis-gsoc-prototype-approach-4/out
